@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: rgb(242 242 242);
  --foreground: #4C4C67;
  max-width: 1280px;
  margin: 0 auto
}

.dark {
    --background: #0D0D0D;
    --foreground: #B9B9B9;
  }


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
}